# Arquivos de configuração do Insomnia
**/insomnia.json

# Arquivos de build e cache
.next/
.turbo/
dist/
build/
coverage/

# Dependências
node_modules/

# Arquivos de lock
package-lock.json
yarn.lock
pnpm-lock.yaml

# Arquivos de ambiente
.env*
!.env.example

# Arquivos de log
*.log

# Arquivos temporários
*.tmp
*.temp 